* {
	/* É o espaçamento externo do objeto. */
	margin: 0;

	/* É o espaçamento interno do objeto. */
	padding: 0;

	/* O box-sizing com o valor border-box faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura. */
	box-sizing: border-box;

	/* Define qual família de fonte você vai usar. */
	font-family: Arial, Helvetica, sans-serif;
}

body {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background-color: #1d1f20;

	/* O CSS Grid nos permite configurar layouts em duas dimensões (linhas e colunas). */
	display: grid;

	/* É usada para definir o espaçamento entre as linhas e colunas. */
	gap: 50px;

	/* Alinha os itens na vertical. */
	justify-items: center;

	/* É o espaçamento externo do objeto, mas somente na parte de cima. */
	margin-top: 60px;

	/* Utilizada para definir a cor do texto em um determinado elemento ou para toda a página HTML. */
	color: #fff;
}

img {
	/* Estabelece a largura máxima de um elemento. */
	max-width: 100%;

	/* Ocupa 100% da largura do elemento pai; É possível definir Width e Height; Você pode definir valores de margin-top e margin-bottom. */
	display: block;
}

a {
	/* Remove o sublinhado do link. */
	text-decoration: none;

	/* Utilizada para definir a cor do texto em um determinado elemento ou para toda a página HTML. */
	color: #fff;
}

p {
	/* Altera o tamanho da fonte. */
	font-size: 20px;

	/* Permite controlar o espaçamento entre as linhas de um texto. */
	line-height: 1.3;
}

.menu {
	/* Serve para dispor os elementos dentro de um determinado container em linhas ou colunas. */
	display: flex;

	/* Define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas. */
	flex-wrap: wrap;

	/* É usada para definir o espaçamento entre as linhas e colunas. */
	gap: 20px;

	/* Justifica todo o conteúdo da grade no eixo da linha quando o tamanho total da grade é menor que o contêiner, ou seja, justifica os itens em relação ao eixo x (horizontal). */
	justify-content: center;
}

.menu a {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #181a1b;

	/* É o espaçamento interno do objeto. */
	padding: 15px 30px;

	/* Define bordas arredondadas. */
	border-radius: 4px;

	/* Serve para deixar as letras de determinado elemento maiúsculas. */
	text-transform: uppercase;

	/* É possível definir o tempo de execução, o delay, quais atributos serão afetados pela transição. */
	transition: all 0.3s ease;
}

/* O atributo hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html, e com isso aplicamos estilos sobre ele. */
.menu a:hover {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background-color: #101112;
}

.conteudo {
	/* O CSS Grid nos permite configurar layouts em duas dimensões (linhas e colunas). */
	display: grid;

	/* Define o total de colunas e o tamanho de cada uma. */
	grid-template-columns: 1fr 1fr;

	/* Estabelece a largura máxima de um elemento. */
	max-width: 1000px;
}

.introducao {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #181a1b;

	/* É o espaçamento interno do objeto. */
	padding: 40px;

	/* Serve para alinhar um texto pela direita. */
	text-align: right;

	/* Determina que o elemento será posicionado de acordo com o fluxo natural da página. */
	position: relative;

	/* O CSS Grid nos permite configurar layouts em duas dimensões (linhas e colunas). */
	display: grid;

	/* É usada para definir o espaçamento entre as linhas e colunas. */
	gap: 20px;

	/* Justifica todo o conteúdo da grade no eixo da coluna quando o tamanho total da grade é menor que o contêiner, ou seja, alinha os itens do grid em relação ao eixo y (vertical). */
	align-content: center;

	/* Alinha os itens na vertical. */
	justify-items: end;
}

.detalhe {
	/* Determina a largura da área de conteúdo de um elemento. */
	width: 60px;

	/* Determina a altra da área de conteúdo de um elemento. */
	height: 4px;

	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #e21;

	/* Indica que o elemento ficará em uma posição fixa em relação à página. */
	position: absolute;

	top: 30px;
	right: -30px;
}

.botao {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #be1b0e;

	/* É o espaçamento interno do objeto. */
	padding: 15px 30px;

	/* Define bordas arredondadas. */
	border-radius: 4px;

	/* Serve para deixar as letras de determinado elemento maiúsculas. */
	text-transform: uppercase;

	/* É possível definir o tempo de execução, o delay, quais atributos serão afetados pela transição. */
	transition: all 0.3s ease;
}

/* O atributo hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html, e com isso aplicamos estilos sobre ele. */
.botao:hover {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background-color: #520b06;
}

.subtitulo {
	/* Altera o tamanho da fonte. */
	font-size: 64px;

	/* Serve para deixar as letras de determinado elemento maiúsculas. */
	text-transform: uppercase;

	/* Utilizada para definir a cor do texto em um determinado elemento ou para toda a página HTML. */
	color: rgba(232, 230, 227, 0.2);

	/* Serve para alinhar um texto pela direita. */
	text-align: right;

	/* É o espaçamento interno do objeto. */
	padding: 40px;

	/* Estabelece o alinhamento de um certo item dentro do bloco que o contém. */
	align-self: center;
}

.vantagens {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #181a1b;

	/* É o espaçamento interno do objeto. */
	padding: 40px;
}

.vantagens-item {
	/* O CSS Grid nos permite configurar layouts em duas dimensões (linhas e colunas). */
	display: grid;

	/* Define o total de colunas e o tamanho de cada uma. */
	grid-template-columns: auto 1fr;

	/* É usada para definir o espaçamento entre as linhas e colunas. */
	gap: 10px 20px;

	/* É o espaçamento interno do objeto. */
	padding: 20px;
}

.vantagens-item p {
	/* Define quais colunas serão ocupadas pelo grid item. É possível definir uma linha de início e final, assim o item irá ocupar múltiplas colunas. */
	grid-column: 2;
}

.rodape {
	/* Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. */
	background: #181a1b;

	/* Estabelece a largura máxima de um elemento. */
	width: 100%;

	/* Serve para alinhar um texto no centro. */
	text-align: center;

	/* É o espaçamento interno do objeto. */
	padding: 40px;
}
